<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.promegu.base">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Annotation-triggered method call logging based on Xposed for android developers." />
        <meta-data
            android:name="xposedminversion"
            android:value="30" />

    </application>

</manifest>
